@model IEnumerable<WebQLNS_VTH.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaiTK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaiTK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maTK }) |
            @Html.ActionLink("Details", "Details", new { id=item.maTK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maTK })
        </td>
    </tr>
}

</table>
